<div class="acedbWrapper <%= data.theme %>">
    <h1 class="acedbHeader">AcFun Evolved Runtime Debug Bridge</h1>
    <div class="acedbMain">
        <div class="acedbButton" id="clearMonkey">
            <div class="acedbIcon">
                <svg t="1709375994959" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="16509" width="128" height="128">
                    <path d="M512 960c-212.032 0-384-57.376-384-128 0-38.624 0-80.864 0-128 0-11.136 5.568-21.696 13.568-32 42.816 55.136 191.68 96 370.432 96s327.616-40.864 370.432-96c8 10.304 13.568 20.864 13.568 32 0 37.056 0 76.384 0 128 0 70.624-172 128-384 128zM512 704c-212.032 0-384-57.376-384-128 0-38.656 0-80.832 0-128 0-6.784 2.56-13.376 6.016-19.904l0 0c1.952-4.096 4.512-8.128 7.552-12.096 42.816 55.104 191.68 96 370.432 96s327.616-40.896 370.432-96c3.072 3.968 5.632 8 7.552 12.096l0 0c3.424 6.528 6.016 13.12 6.016 19.904 0 37.056 0 76.352 0 128 0 70.624-172 128-384 128zM512 448c-212.032 0-384-57.344-384-128 0-20.224 0-41.6 0-64 0-20.352 0-41.472 0-64 0-70.656 171.968-128 384-128s384 57.344 384 128c0 19.968 0 41.152 0 64 0 19.584 0 40.256 0 64 0 70.656-172 128-384 128zM512 128c-141.376 0-256 28.608-256 64s114.624 64 256 64 256-28.608 256-64-114.624-64-256-64z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="16510"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">CLEAR Tampermonkey Storage</h3>
        </div>
        <div class="acedbButton" id="clearLocal">
            <div class="acedbIcon">
                <svg t="1709375866944" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="15467" width="128" height="128">
                    <path d="M169.984 470.016l0 84.010667 86.016 0 0-84.010667-86.016 0zM86.016 598.016l0-171.989333 852.010667 0 0 171.989333-852.010667 0zM256 297.984l0-84.010667-86.016 0 0 84.010667 86.016 0zM86.016 169.984l852.010667 0 0 171.989333-852.010667 0 0-171.989333zM169.984 726.016l0 84.010667 86.016 0 0-84.010667-86.016 0zM86.016 854.016l0-171.989333 852.010667 0 0 171.989333-852.010667 0z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="15468"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">CLEAR LocalStorage</h3>
        </div>
        <div class="acedbButton" id="clearBoth">
            <div class="acedbIcon">
                <svg t="1709376045994" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="17626" width="128" height="128">
                    <path d="M896 0 0 0l0 1024 1024 0L1024 128 896 0zM512 128l128 0 0 256-128 0L512 128zM896 896 128 896 128 128l64 0 0 320 576 0L768 128l74.976 0L896 181.024 896 896z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="17627"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">CLEAR Both</h3>
        </div>
        <div class="acedbButton" id="exportBoth">
            <div class="acedbIcon">
                <svg t="1709450832770" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="33111" width="128" height="128">
                    <path fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>"
                          d="M896 128H128a42.666667 42.666667 0 0 0-42.666667 42.666667v682.666666a42.666667 42.666667 0 0 0 42.666667 42.666667h768a42.666667 42.666667 0 0 0 42.666667-42.666667V170.666667a42.666667 42.666667 0 0 0-42.666667-42.666667z m-384 554.666667a128 128 0 0 1-128-128H170.666667V213.333333h682.666666v341.333334h-213.333333a128 128 0 0 1-128 128z m170.666667-213.333334h-128v128h-85.333334v-128H341.333333l170.666667-192 170.666667 192z"
                          p-id="33112"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">EXPORT Both</h3>
        </div>
        <div class="acedbButton" id="importBoth">
            <div class="acedbIcon">
                <svg t="1709451209570" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="31198" width="128" height="128">
                    <path d="M896 128H128a42.666667 42.666667 0 0 0-42.666667 42.666667v682.666666a42.666667 42.666667 0 0 0 42.666667 42.666667h768a42.666667 42.666667 0 0 0 42.666667-42.666667V170.666667a42.666667 42.666667 0 0 0-42.666667-42.666667z m-384 554.666667a128 128 0 0 1-128-128H170.666667V213.333333h682.666666v341.333334h-213.333333a128 128 0 0 1-128 128z m170.666667-298.666667h-128V256h-85.333334v128H341.333333l170.666667 192L682.666667 384z"
                          p-id="31199" fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">IMPORT Both</h3>
        </div>
        <div class="acedbButton" id="loadPackage">
            <div class="acedbIcon">
                <svg t="1709376082741" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="18691" width="128" height="128">
                    <path d="M807.168 191.189333l-187.733333-83.370666a269.397333 269.397333 0 0 0-214.954667 0l-187.733333 83.370666A213.674667 213.674667 0 0 0 85.333333 382.848v258.090667a213.674667 213.674667 0 0 0 131.498667 191.658666l187.733333 83.413334a265.429333 265.429333 0 0 0 106.325334 22.314666 2.517333 2.517333 0 0 0 2.218666 0 265.642667 265.642667 0 0 0 106.368-22.314666l187.733334-83.413334A213.674667 213.674667 0 0 0 938.666667 640.938667V382.848a213.674667 213.674667 0 0 0-131.498667-191.658667z m-222.336-5.376l187.733333 83.370667a160.128 160.128 0 0 1 16.810667 8.746667l-85.333333 37.973333L425.088 192l14.037333-6.229333a182.186667 182.186667 0 0 1 145.706667 0.042666zM320 238.933333l278.826667 123.733334-39.850667 17.706666a122.368 122.368 0 0 1-93.866667 0l-230.4-102.4a160.853333 160.853333 0 0 1 17.024-8.789333zM251.477333 754.602667A126.848 126.848 0 0 1 170.666667 640.938667V382.848a110.933333 110.933333 0 0 1 6.528-37.034667l253.141333 112.512a192.469333 192.469333 0 0 0 38.997333 12.416v376.917334a175.701333 175.701333 0 0 1-30.122666-9.642667zM853.333333 640.938667a126.848 126.848 0 0 1-80.853333 113.664l-187.733333 83.413333a177.365333 177.365333 0 0 1-30.165334 9.642667v-376.917334a192.469333 192.469333 0 0 0 38.997334-12.416l253.141333-112.512a110.933333 110.933333 0 0 1 6.613333 37.034667z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="18692"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">LOAD Plugin Package (raw.json.tar.gz) WITH CURRENT PSV SETTINGS</h3>
        </div>
        <div class="acedbButton" id="loadUnpackedPackage">
            <div class="acedbIcon">
                <svg t="1709376113607" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="19795" width="128" height="128">
                    <path d="M513.83388 1022.379362c20.428566-0.170593 40.64389-1.236803 60.816566-4.008946a503.421282 503.421282 0 0 0 134.171751-36.805538 529.0103 529.0103 0 0 0 161.765243-108.454788 510.842097 510.842097 0 0 0 104.062006-146.155941 503.037446 503.037446 0 0 0 43.501331-148.245711c6.354606-49.472102 5.757529-100.053061-1.919176-149.226624a510.074426 510.074426 0 0 0-33.820153-118.903637 477.533725 477.533725 0 0 0-36.421702-68.962404c-49.813288-78.345044-122.016968-141.336676-205.138628-183.430611a547.391744 547.391744 0 0 0-92.632245-37.061428h-0.213242c5.075155 2.686847 10.235607 5.629584 14.713685 8.572321 5.117804 3.155979 10.192959 6.226661 14.969576 9.595882a380.849885 380.849885 0 0 1 66.488798 56.722324c45.33521 48.832376 76.639109 108.66803 94.59407 172.342036 12.112135 41.880693 18.50939 85.21143 21.11094 128.670112 1.876528 31.687734 1.876528 63.58871-2.004473 95.063203-6.354606 54.163422-23.627193 107.047392-52.37219 153.363514a318.796516 318.796516 0 0 1-81.159836 88.87919c-53.054564 39.577681-122.699342 63.204875-189.18814 47.510277a167.010991 167.010991 0 0 1-31.900975-11.003278 200.106121 200.106121 0 0 1-33.223076-19.149115 259.30205 259.30205 0 0 1-53.054564-47.16909 277.512901 277.512901 0 0 1-44.738133-74.506691 314.190493 314.190493 0 0 1-21.068291-108.326843c-1.279451-54.291367 9.595882-108.881272 36.421702-156.519494a274.271625 274.271625 0 0 1 70.924228-81.799561c9.595882-7.591409 19.788841-14.201905 30.024448-20.428566l0.682374-0.298539a218.402269 218.402269 0 0 0-61.456292-5.117803 211.621179 211.621179 0 0 0-52.37219 10.192959c-15.310762 5.117804-30.024448 11.557706-43.458682 19.191763a262.116842 262.116842 0 0 0-31.261251 21.11094c-8.998805 7.676705-17.912313 15.310762-26.228743 23.669842-47.894112 49.173563-75.402307 114.382911-86.234991 181.511434-6.397255 41.496858-6.397255 83.633441-3.881001 125.855321 4.478078 59.451819 16.67551 118.81834 40.302703 173.195004a363.321408 363.321408 0 0 0 57.489994 92.674893 347.157678 347.157678 0 0 0 133.574674 95.148499 338.372115 338.372115 0 0 0 90.115992 23.030116c3.155979 0.639725 6.354606 0.639725 8.913508 0.639726l-0.895615-1.364748z m-125.130299-16.974048a174.900938 174.900938 0 0 1-19.191763-9.723827 362.511089 362.511089 0 0 1-86.917365-65.42259c-46.65731-48.533838-77.91856-109.478349-95.830872-174.047971a647.658047 647.658047 0 0 1-21.11094-135.280609 517.836429 517.836429 0 0 1 1.961824-88.793892c5.757529-53.608993 21.11094-106.663557 47.936761-152.681141A293.804576 293.804576 0 0 1 291.593258 291.898194a265.699304 265.699304 0 0 1 69.644777-38.383527 228.723173 228.723173 0 0 1 150.207536-1.919177c1.236803 0 1.236803 0 1.919177 1.279451 0.639725 0.639725 1.919176 0.639725 2.558901 1.279451 1.919176 0.682374 4.43543 1.919176 7.03698 3.155979 10.192959 5.117804 20.428566 11.557706 30.024448 17.912313a268.428799 268.428799 0 0 1 89.433618 106.706205c17.912313 38.980604 26.228743 82.481935 26.911118 125.300892 0.597077 46.017584-7.676705 91.99252-27.508195 134.171751a273.845141 273.845141 0 0 1-112.506382 120.780165c3.838353 1.279451 7.676705 1.919176 11.557706 3.198627 9.595882 1.876528 19.149115 3.155979 29.342074 3.155979 62.607797 1.919176 123.339067-28.105271 168.034552-70.241854 8.316431-7.676705 15.993136-15.993136 23.030116-24.949293 9.595882-11.515058 18.552038-22.987468 26.186095-35.099603 10.192959-15.993136 18.552038-31.986273 26.186095-49.216211a345.963524 345.963524 0 0 0 21.708017-70.966877c8.359079-42.818957 8.998805-86.234991 6.354607-129.053948-5.757529-86.234991-28.702349-172.51263-78.558286-244.119232a386.180931 386.180931 0 0 0-23.669842-30.664173 420.85405 420.85405 0 0 0-45.33521-44.098408 361.530177 361.530177 0 0 0-58.129719-39.023253 423.370304 423.370304 0 0 0-72.161031-25.503721l-12.794509-2.558902c-8.913508-1.279451-17.912313-1.876528-27.039063-2.558901a360.506616 360.506616 0 0 0-43.288088 0.682373c-30.024448 1.919176-60.219489 6.823738-90.073344 14.372499-143.127908 36.933483-268.343503 136.688005-335.002894 269.025876A504.743381 504.743381 0 0 0 10.36995 418.137349a503.71982 503.71982 0 0 0-4.43543 160.997572c5.117804 43.501331 15.950488 86.277639 33.180427 126.964178 9.681178 24.309567 21.793314 47.93676 35.184899 70.284503 46.65731 76.042032 114.425559 138.010104 192.344119 180.829061 29.342074 16.67551 60.048896 29.427371 91.99252 40.302703 9.63853 3.155979 19.191764 6.354606 29.384723 8.913508l0.682373-1.02356z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="19796"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">LOAD Plugin Raw JSON (raw.json) WITH CURRENT PSV SETTINGS</h3>
        </div>
        <div class="acedbButton" id="aceBridge">
            <div class="acedbIcon">
                <svg t="1709376176984" class="icon" viewBox="0 0 1682 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="23968" width="128" height="128">
                    <path d="M 1443.95 437.842 c -95.817 -3.164 -149.706 -48.654 -222.473 -74.158 c 0 41.195 0 82.402 0 123.596 c 74.151 0 148.323 0 222.473 0 c 0 49.432 0 98.884 0 148.315 c -74.151 -2.059 -148.323 -4.121 -222.473 -6.18 c 0 84.447 0 168.926 0 253.372 c -72.094 0 -144.2 0 -216.293 0 c 0 -82.389 0 -164.803 0 -247.193 c -205.819 1.026 -394.513 53.388 -562.363 98.877 c 0 49.433 0 98.884 0 148.315 c -43.252 0 -86.524 0 -129.775 0 c 0 -35.015 0 -70.042 0 -105.056 c -28.835 12.36 -57.683 24.719 -86.518 37.079 c 0 -18.54 0 -37.079 0 -55.618 c 28.835 -14.418 57.683 -28.841 86.518 -43.259 c -2.059 -28.835 -4.121 -57.683 -6.18 -86.518 c -24.719 26.778 -49.438 53.56 -74.158 80.337 c -2.059 0 -4.121 0 -6.18 0 c 0 -8.238 0 -16.481 0 -24.719 c 57.887 -80.888 87.852 -150.849 86.518 -296.631 c 125.581 11.606 157.19 90.689 259.552 117.416 c 212.036 55.365 386.3 -145.726 432.587 -278.092 c 14.787 -42.294 -7.897 -60.94 18.54 -86.518 c 65.913 16.475 131.841 32.963 197.754 49.438 c 8.515 93.723 141.913 162.195 222.473 185.394 c 0 20.598 0 41.201 0 61.798 Z M 999.017 277.167 c -48.438 90.794 -118.991 139.658 -185.394 210.114 c 74.948 -22.891 132.229 -71.754 191.574 -111.237 c -2.059 -32.957 -4.122 -65.919 -6.18 -98.877 Z M 1221.49 277.167 c 0 14.418 0 28.841 0 43.259 c 41.195 16.475 82.402 32.963 123.596 49.438 c -41.197 -30.898 -82.404 -61.798 -123.596 -92.697 Z M 992.837 419.303 c -120.716 105.41 -364.201 142.995 -550.003 92.697 c 0 45.317 0 90.64 0 135.956 c 74.152 -24.719 148.323 -49.438 222.473 -74.158 c 113.288 -22.656 226.601 -45.323 339.89 -67.978 c 2.125 -33.493 3.435 -70.573 -12.359 -86.517 Z M 442.837 456.382 c 1.643 32.678 -1.433 29.793 18.54 43.259 c 28.823 18.1 103.24 32.525 135.956 24.719 c -54.71 -25.399 -106.868 -46.404 -154.495 -67.978 Z M 306.88 555.259 c -10.295 26.778 -20.598 53.56 -30.899 80.337 c 12.36 -10.295 24.719 -20.597 37.079 -30.899 c -2.058 -16.474 -4.121 -32.963 -6.18 -49.437 Z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="23969"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">CONNECT to local URL and LOAD plugin WITH CURRENT PSV SETTINGS (Development)</h3>
        </div>
        <div id="about" class="acedbButton">
            <div class="acedbIcon">
                <svg t="1709376855055" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="26020" width="128" height="128">
                    <path d="M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024z m3.008-92.992a416 416 0 1 0 0-832 416 416 0 0 0 0 832zM448 448h128v384H448V448z m0-256h128v128H448V192z"
                          fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>" p-id="26021"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">ABOUT</h3>
        </div>
        <div id="close" class="acedbButton">
            <div class="acedbIcon">
                <svg t="1709376214412" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="24983" width="128" height="128">
                    <path d="M851.428571 755.428571q0 22.857143-16 38.857143l-77.714285 77.714286q-16 16-38.857143 16t-38.857143-16l-168-168-168 168q-16 16-38.857143 16t-38.857143-16l-77.714285-77.714286q-16-16-16-38.857143t16-38.857142l168-168-168-168q-16-16-16-38.857143t16-38.857143l77.714285-77.714286q16-16 38.857143-16t38.857143 16l168 168 168-168q16-16 38.857143-16t38.857143 16l77.714285 77.714286q16 16 16 38.857143t-16 38.857143l-168 168 168 168q16 16 16 38.857142z"
                          p-id="24984" fill="<%= data.theme === 'aceLight' ? '#2c2c2c' : '#eee' %>"></path>
                </svg>
            </div>
            <h3 class="acedbTitle">EXIT</h3>
        </div>
    </div>
</div>