<div class="aceStoreItem <%= data.theme %>">
    <div class="aceStoreItemUpper">
        <div class="aceStoreItemIcon">
            <%= data.icon %>
        </div>
        <div class="aceStoreItemTitles">
            <h2><%= data.manifest.name %></h2>
            <p><%= data.manifest.description %></p>
            <div class="aceStoreItemActions">
                <button class="<%= data.installed ? 'uninstall' : 'install'%>" id="<%= data.installed ? 'uninstall' : 'install'%>-<%= data.manifest.id.original.replaceAll('@', '-').replaceAll('/', '-') %>"><%= data.installed ? '卸载' : '安装'%></button>
                <button class="website" id="website-<%= data.manifest.id.original.replaceAll('@', '-').replaceAll('/', '-') %>">官方网站</button>
            </div>
        </div>
    </div>
    <div class="aceStoreItemLower">
        <div title="<%= data.manifest.id.original %>" class="aceStoreItemInfoWrapper">
            <h3>Plugin ID</h3>
            <p><%= data.manifest.id.short %></p>
        </div>
        <div class="aceStoreItemInfoWrapper">
            <h3>开发者</h3>
            <p><%= data.manifest.author %></p>
        </div>
        <div class="aceStoreItemInfoWrapper">
            <h3>最新版本</h3>
            <p><%= data.manifest.latestVersion %></p>
        </div>
        <div class="aceStoreItemInfoWrapper">
            <h3>更新于</h3>
            <p><%= data.manifest.updatedAt %></p>
        </div>
        <div title="<%= data.manifest.requestedAPIs.original %>" class="aceStoreItemInfoWrapper">
            <h3>已请求的API</h3>
            <p><%= data.manifest.requestedAPIs.short %></p>
        </div>
        <div class="aceStoreItemInfoWrapper">
            <h3>匹配</h3>
            <p><%= data.manifest.matches %></p>
        </div>
    </div>
</div>