<div class="aceAboutPanel <%= data.theme %>">
    <div class="aceAboutHeader">
        <h2 class="aceAboutTitle">关于 <%= data.name %></h2>
    </div>
    <div class="aceAboutContent">
        <div class="aceAboutIcon">
            <%= data.icon %>
        </div>
        <div class="aceAboutInfo">
            <h1><%= data.name %></h1>
            <p><%= data.content %></p>
            <p><%= data.name %> version <%= data.version %></p>
            <p><%= data.caption %></p>
        </div>
        <button id="close">好</button>
    </div>
</div>