<div class="acePluginPanel <%= data.theme %>">
    <div class="acePluginPanelHeader">
        <h1><%= data.manifest.name %></h1>
        <button id="close">×</button>
    </div>
    <div class="acePluginPanelMain">
        <div class="acePluginPanelView">
        </div>
        <div class="acePluginPanelInfo">
            <span class="acePluginPanelCaption">※ 你所做的更改均需要刷新页面以生效！</span>
            version <%= data.manifest.version %> | <%= data.manifest.id %><br>
        </div>
    </div>
    <div class="acePluginPanelActions">
        <button id="refresh">刷新以应用更改</button>
        <button id="uninstall">解除安装</button>
        <button id="site">官方网站</button>
        <button id="about">关于 <%= data.manifest.name %></button>
    </div>
</div>